:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #272727;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 800px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    max-height: 100vh;
}

.quick-fix-button {
    border-radius: 8px;
    border: 2px solid #d05400;
    cursor: pointer;
    background-color: #e97a0d;
    padding: 10px 10px;
    font-weight: bold;
    display: block;

    :hover {
        outline: none;
    }


}

.quick-fix-button.error {
    background-color: #ca1f00;
    border: 2px solid #ca1f00;
}

.download-button {
    background-color: #1e8700;
    border: none;
    padding: 10px;
    display: flex;
    place-items: center;
    place-content: center;
    gap: 10px;
    cursor: pointer;
}

.boring-button {
    background-color: #686868;
    border: none;
    padding: 10px;
    display: flex;
    place-items: center;
    place-content: center;
    gap: 10px;
    cursor: pointer;
}

.file-editor-grid {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
        "header header"
        "sidebar editor";
    flex-grow: 1;

    grid-column-gap: 15px;
    padding-bottom: 50px;
}


.editable-span:focus {
    background-color: #fff5;
    outline: 4px solid #fff5;
}
